#home-banner{
    background: url(../img/appoit.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    width: 100%;

}


.information{
    border-right: 1px solid rgba(189, 185, 185, 0.452);
}

#main-form{
    /* box-shadow: 0 0 2px 1px grey; */
    position: relative;
    top: -110px;
}
.form{
    box-shadow: 1px 1px 4px 0px rgba(211, 208, 208, 0.692);

}
.input{
    background-color: rgba(231, 229, 229, 0.39) !important;
    border: none;
}
.form-control:focus{
    background-color: rgba(231, 229, 229, 0.39);
    box-shadow: 0 0 0 0 !important;
    border: none;
}

.form-select{
    background-color: rgba(231, 229, 229, 0.39);
    border: none;
}
.form-select{
    box-shadow: 0 0 0 0  !important;
}
